[submodule "bonfire-cpu"]
	path = bonfire-cpu
	url = ../bonfire-cpu.git
[submodule "bonfire-dcache"]
	path = bonfire-dcache
	url = ../bonfire-dcache.git
[submodule "bonfire-soc"]
	path = bonfire-soc
	url = ../bonfire-soc.git
[submodule "bonfire-util"]
	path = bonfire-util
	url = ../bonfire-util.git
